/* The styles for the OBSERV website */

body {
    /* background: #ffffff; */
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    height: 100vh;
    max-width: 550px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mobileBody {
    height: 100vh;
    width: 100%;
    background-color: #202020;
}

header {
    background-color: #5A007A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 7vh;
    width: 100%;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 550px;
    height: 7vh;
    background-color: #5A007A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstItem {
    margin-left: 0;
}

.bg {
    width: 100%;
    height: 90%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

li img {
    height: 30px;
    width: 30px;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

.logo {
    background: rgba(0, 0, 0, 0);
    border: none;
    height: 75%;
}

.class {
    justify-content: center;
    display: flex;
    align-content: center;
}

.heroSection {
    display: flex;
    margin-top: 2rem;
    width: 84.5%;
    border-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    background-color: #202020;
    background-image: url("../img/heroImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.heroForm {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.heroForm .cityPost input {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.heroForm .cityPost .postCode {
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #0B0B0B;
}

.heroForm input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 95.5%;
    background-color: #202020;
    color: #EDEDED;
}

input[type="date"] {
    position:relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
}

input[type="date"]:after {
    content: "⬇";
    display: block;
}

.submitContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.submitButton {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 84.5%;
    background-color: #5A007A;
    color: #EDEDED;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
}

.submitButton:hover {
    background-color: #410058
}

.heroForm ::placeholder {
    color: #EDEDED;
}

.cityPost {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    width: 100%;
}

.postCode {
    width: 30%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeCards {
    margin: 20px auto;
    height:14rem;
    max-height: 14rem;
    display:grid;
    grid-template-columns: 13rem 13rem;
    grid-row: auto auto;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    justify-content: center;
}


.card {
    background-color:#0B0B0B;
    border-radius:10px;
    color:#fff;
    justify-content:center;
    font-size:20px;
    font-family:sans-serif;
    
}

.cardImage {
    width: 100%;
    border-radius:10px;
}

.cardText {
    padding: 1rem;
}

#product {
    display: none;
}

#productImage {
    width: 100%;
    height: 15rem;
}

.productText {
    padding: 0 2rem;
    margin: 0;
}

.productHead {
   padding-bottom: 1rem;
}

#productPara {
    padding: 1rem 2rem;
}

#bookingInfo {
    display: none;
}

.block {
    display: block;
}

.bookButton {
    margin: auto;
    margin-bottom: 1rem;
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #5A007A;
    color: #EDEDED;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
}

.bookButton:hover {
    background-color: #410058
}

.bookingForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.bookingForm label {
    justify-self: flex-Start;
    align-self: flex-start;
    font-size: small;
    margin-left: 2rem;
    color: #cccccc;
}

.bookingForm input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 85%;
    background-color: #0B0B0B;
    color: #EDEDED;
}

.summaryContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    background: #0B0B0B;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.paymentButton {
    margin: auto;
    margin-bottom: 1rem;
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #5A007A;
    color: #EDEDED;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
}

.paymentButton:hover {
    background-color: #410058
}

#paymentInfo {
    display: none;
}

#bookings {
    display: none;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: underline;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    background: #D9D9D9;
    color: #2C2C2C;
    border-radius: .3rem;
    /* box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bookingConfirmed {
    display: none;
}